<a href="https://colab.research.google.com/github/kshatriyajaswanthsingh/Assignment-1-Basics-of-python/blob/main/Assingnment_3_Advance_datatypes(Tuple).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tuple():

. Tuple is simply a pair of values grouped together in the fixed order.
.it is immutable(we cannot modify,change,update the variable).

In [1]:
a = (1,2.5,"apple")
print(type(a))

<class 'tuple'>

#indexing():

.Access using square brackets-use tuple[index] to get an element.

.Positive indexing-Access elements from the beginning using 0,1,2,3,.....

.Negative indexing-Access elements from the ending using -1,-2,-3,.......

In [1]:
a = ("tuple is immutable")
a[1]

'u'

In [7]:
a = ("tuple is immutable")
a[-5]

't'

#Slicing():

. Use [start:end] to extract a portion of a tuple.

.slicing creates a new tuple without changing the original.

In [8]:
a = ("tuple is immutable")
a[0:6]

'tuple '

In [10]:
a = ("tuple is immutable")
a[-5:-4]

't'

##type()function:

. The type() function returns the data type of a given object.

In [11]:
a = (1,2,3,4,5,6,7,8,9,10)
print(type(a))

<class 'tuple'>

# Tuple methods:

### len():

. The len() function returns the number of elements in a tuple.

, it helps in finding the size of a tuple quickly.

In [12]:
a = ("tuple is immutable")
len(a)

18

In [13]:
a =("a","b","c",1,2,3,4,5,"d")
len(a)

9

###2. count():

. The count() function returns the number of times a specific element appears in a tuple

In [14]:
a = ("tuple is immutable")
a.count("i")

2

In [15]:
a = ("tuple is immutable")
print(a.count("m"))

2

###3.index():

.Searches the tuple for a specified value and returns the position of where it was found

In [16]:
a = ("tuple is immutable")
print(a.index("m"))

10

In [17]:
a = ("tuple is immutable")
print(a.index("a"))

14